.BasicSquare {
    font-family: var(--font-family);
    background: var(--background-color);
    color: var(--color);
    border-radius: calc(var(--border-radius, 0.08) * 100%);
    overflow: hidden;

    height: calc(var(--height) * var(--scale));
    width: calc(var(--width) * var(--scale));

    --footer-font-size: calc(0.6 * calc(16px * var(--font-normalize, 1)));
    --id-font-size: calc(2.5 * calc(16px * var(--font-normalize, 1)));

    border: calc(0.2mm * var(--scale)) solid rgba(0, 0, 0, 0.15);
}


.BasicSquare_pattern {
    content: "";
    display: block;
    @include absolute-fill;
    background-position: center;
    border-radius: calc(5mm * var(--scale));
    overflow: hidden;
    display: block;
    position: static;
}

.BasicSquare_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding: calc(calc(var(--padding, 7.5) * 1mm) * var(--scale));
    @include absolute-fill;
}

.BasicSquare_main {
    font-size: calc(calc((calc(16px * var(--font-normalize, 1))) * var(--element-scale, 1)) * var(--scale));
    line-height: var(--line-height, 1.4);
    text-align: center;
    width: 100%;
    letter-spacing: normal;
}

.BasicSquare_name {
    font-size: calc(calc(var(--footer-font-size, 16px) * var(--element-scale, 1)) * var(--scale));
    line-height: var(--line-height, 1.4);
    position: relative;
    z-index: 1;
    width: 100%;
}

.BasicSquare_footer {
    position: relative;
    width: 100%;
}

.BasicSquare_copyright {
    font-size: calc(calc(var(--footer-font-size, 16px) * var(--element-scale, 1)) * var(--scale));
    line-height: var(--line-height, 1.4);
    width: 100%;
}

/* THEMES */

.BasicSquare.id-hide {

    .BasicSquare_id {
        display: none !important;
    }
}

.BasicSquare.theme-default {
    
    .BasicSquare_name {
        letter-spacing: 1px;
    }
}

.BasicSquare.theme-simple {

    .BasicSquare_footer {
        text-align: left;
    }
    
    .BasicSquare_main {
        text-align: left;
    }

    .BasicSquare_name {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        letter-spacing: normal;
    }
    
    .BasicSquare_copyright {
        text-align: left;
    }
}