.ArticleBlock {
    overflow: hidden;
    display: block;
    background-color: var(--color-bg-light);
    border-radius: 12px;
    @include box-shadow-l;
    transform: translateY(0);
    transition: all 250ms ease-in;
}

.ArticleBlock_image {
    height: 90px;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.ArticleBlock_content {
    height: 135px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.ArticleBlock_title {
    font: var(--ft-title-s);
    font-weight: bold;
    color: var(--color-ft);
    transition: all 250ms ease-in;
}

.ArticleBlock_excerpt {
    margin-top: 10px;
    font: var(--ft-s);
    color: var(--color-ft);
}

.ArticleBlock_tags {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    text-align: right;
}

/* STATES */

.ArticleBlock:hover {
    transform: translateY(-1px);
    @include box-shadow-xl;

    .ArticleBlock_title {
        color: var(--color-ft-strong);
    }
}