.ArticleBlock {
    overflow: hidden;
    display: block;
    background-color: var(--color-bg-light);
    // border-radius: 12px;
    @include box-shadow-l;
    transform: translateY(0);
    transition: all 250ms ease-in;
    user-select: none;
    -webkit-user-drag: none;
}

.ArticleBlock_image {
    height: 120px;
    position: relative;
    background-color: var(--color-bg-weak);

    img {
        @include img-cover(101);
        transform-origin: bottom;
        transform: scale(0.99);
        transition: transform 500ms ease-out;
    }
}

.ArticleBlock_content {
    min-height: 135px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.ArticleBlock_title {
    font: var(--ft-title-m);
    font-weight: bold;
    color: var(--color-ft);
    transition: all 250ms ease-in;
}

.ArticleBlock_excerpt {
    margin-top: 10px;
    font: var(--ft-s);
    color: var(--color-ft);
}

.ArticleBlock_tags {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    text-align: right;
}

/* STATES */

.ArticleBlock:hover {
    transform: translateY(-1px);
    @include box-shadow-xl;

    .ArticleBlock_title {
        color: var(--color-ft-strong);
    }

    .ArticleBlock_image img {
        transform: scale(1);
    }
}

/* MODIFIERS */

.ArticleBlock--s {

    .ArticleBlock_image {
        height: 60px;
    }

    .ArticleBlock_content {
        min-height: 50px;
    }
}

.ArticleBlock--image {
    
    .ArticleBlock_image {
        height: 210px;

        &::after {
            content: "";
            display: block;
            @include absolute-fill;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.9) 100%);
        }
    }

    .ArticleBlock_content {
        background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 0
    }

    .ArticleBlock_title {
        font: var(--ft-title-xl);
        font-weight: bold;
        line-height: 1.4;
        color: var(--color-ft-light);
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    }

    &:hover {
        transform: translateY(-3px);

        .ArticleBlock_title {
            color: var(--color-ft-light);
        }
    }
}

.ArticleBlock--full {
    height: 100%;

    .ArticleBlock_image {
        height: 100%;

        &::after {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 100%);
        }
    }

    .ArticleBlock_content {
        padding: 30px;
    }

    .ArticleBlock_title {
        font: var(--ft-title-2xl);
        font-weight: bold;
        line-height: 1.4;
    }

    .ArticleBlock_excerpt {
        font: var(--ft-m);
        color: var(--color-ft-light);
    }

    &:hover {
        transform: translateY(-5px);
    }
}