.ArticleLine {
    display: flex;
    align-items: center;
    min-height: 80px;
}

.ArticleLine_number {
    font: var(--ft-title-3xl);
    font-weight: bold;
    color: var(--color-ft-strong);
    opacity: 0.15;
    min-width: 55px;
    transition: all 150ms ease-in;
}

.ArticleLine_content {
    padding-left: 20px;
}

.ArticleLine_title {
    font: var(--ft-title-l);
    font-weight: bold;
    transition: all 150ms ease-in;
}

.ArticleLine:hover {

    .ArticleLine_title {
        color: var(--color-ft-strong);
    }

    .ArticleLine_number {
        opacity: 1;
        color: var(--color-ft);
    }
}