.ArticleAuthor {
    display: inline-flex;
    align-items: center;
}

.ArticleAuthor_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    img {
        @include img-cover;
    }
}

.ArticleAuthor_text {
    padding-left: 15px;
    font: var(--ft-title-s);
    font-weight: bold;
    color: var(--color-ft);
}

.ArticleAuthor_description {
    font: var(--ft-xs);
    color: var(--color-ft);
}