.ButtonBase {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    border-radius: 4px;
    border-radius: 40px;
    overflow: hidden;
    font: var(--ft-s);
    background-color: var(--background, var(--color-cyan));
    color: var(--color-ft-light);
    transform: translateY(0);
    transition: all 200ms ease-in;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        background-color: var(--color-cyan-strong);
        transform: translateY(-1px);
        @include box-shadow("cyan")
    }

    &:active {
        background-color: var(--color-cyan-strong);
        transform: translateY(2px);
        @include box-shadow("cyan")
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ButtonBase_icon {
    margin-right: 10px;

    &:only-child {
        margin: 0;
    }
}

.ButtonBase:disabled,
.ButtonBase.is-disable {
    pointer-events: none;
    cursor: default;
    color: var(--color-ft-weak);
    background-color: transparent;
    border: 1px solid var(--color-border);
    opacity: 0.75;
    box-shadow: none;
}

.ButtonBase.is-loading {
    pointer-events: none;
    opacity: 0.5;
}

/* MODIFIERS */

.ButtonBase--link {
    padding: 0;

    a {
        padding: 13px 20px;
    }
}

.ButtonBase--full {
    display: flex;
    
    width: 100%;
}

.ButtonBase--static {
    border-radius: 0;
    transform: none;
    box-shadow: none;

    &:hover,
    &:active {
        transform: none;
        box-shadow: none;
    }
}

.ButtonBase--s {
    font: var(--ft-xs);
    padding: 10px 15px;

    &.ButtonBase--link {
        padding: 0;
    
        a {
            padding: 10px 15px;
        }
    }
}

.ButtonBase--xs {
    font: var(--ft-xs);
    padding: 7px 10px;

    &.ButtonBase--link {
        padding: 0;
    
        a {
            padding: 7px 10px;
        }
    }
}

.ButtonBase--round {
    border-radius: 40px;
}

.ButtonBase--pink {
    --main-color: var(--color-pink);
    --strong-color: var(--color-pink-strong);

    color: var(--color-ft-light);
    background-color: var(--color-pink);
    
    &:hover {
        background-color: var(--color-pink-strong);
        @include box-shadow("pink")
    }
}

.ButtonBase--gold {
    --main-color: var(--color-gold);
    --strong-color: var(--color-gold-strong);

    color: var(--color-ft-light);
    background-color: var(--color-gold);
    
    &:hover {
        background-color: var(--color-gold-strong);
        @include box-shadow("gold")
    }
}

.ButtonBase--blue {
    --main-color: var(--color-blue);
    --strong-color: var(--color-blue-strong);

    color: var(--color-ft-light);
    background-color: var(--color-blue);
    
    &:hover {
        background-color: var(--color-blue-strong);
        @include box-shadow("blue")
    }
}

.ButtonBase--secondary {
    background-color: transparent;
    color: var(--main-color, var(--color-cyan));
    border: 1px solid var(--main-color, var(--color-cyan));
    box-shadow: none;
    transform: none;

    &:hover {
        color: var(--color-ft-light);
        background-color: var(--strong-color, var(--color-cyan));
        box-shadow: none;
        transform: none;
    }
}