.ButtonBase {
    display: inline-flex;
    align-items: center;
    padding: 13px 20px;
    border-radius: 4px;
    overflow: hidden;
    font: var(--ft-s);
    background-color: var(--background, var(--color-blue));
    color: var(--color-ft-light);
    @include box-shadow-s;
    transform: translateY(0);
    transition: all 200ms ease-in;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        background-color: var(--color-blue-strong);
        transform: translateY(-1px);
        @include box-shadow-l;
    }

    &:active {
        background-color: var(--color-blue-strong);
        transform: translateY(2px);
        @include box-shadow-s;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.ButtonBase_icon {
    margin-right: 10px
}

.ButtonBase:disabled,
.ButtonBase.is-disable {
    pointer-events: none;
    cursor: default;
    color: var(--color-ft-xweak);
    background-color: transparent;
    border: 1px solid var(--color-border);
    box-shadow: none;
}

.ButtonBase.is-loading {
    pointer-events: none;
    opacity: 0.5;
}

/* MODIFIERS */

.ButtonBase--link {
    padding: 0;

    a {
        padding: 13px 20px;
    }
}

.ButtonBase--full {
    display: block;
}

.ButtonBase--static {
    border-radius: 0;
    transform: none;
    box-shadow: none;

    &:hover,
    &:active {
        transform: none;
        box-shadow: none;
    }
}

.ButtonBase--s {
    font: var(--ft-xs);
    padding: 10px 15px;

    &.ButtonBase--link {
        padding: 0;
    
        a {
            padding: 10px 15px;
        }
    }
}

.ButtonBase--xs {
    font: var(--ft-xs);
    padding: 7px 10px;

    &.ButtonBase--link {
        padding: 0;
    
        a {
            padding: 7px 10px;
        }
    }
}

.ButtonBase--secondary {
    background-color: transparent;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    box-shadow: none;
    transform: none;

    &:hover {
        color: var(--color-ft-light);
        background-color: var(--color-blue-strong);
        box-shadow: none;
        transform: none;
    }
}

.ButtonBase--round {
    border-radius: 40px;
}

.ButtonBase--save {
    background-color: var(--color-confirm);
    color: var(--color-ft-light);
}

.ButtonBase--premium {
    color: var(--color-ft-light);
    background-color: var(--color-premium-strong);
    box-shadow: 0 2px 2px 0 rgba(236, 0, 107, 0.3);
    
    &:hover {
        background-color: var(--color-premium);
        box-shadow: 0 4px 8px 0 rgba(236, 0, 107, 0.4);
    }
}