.Button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: var(--color-blue-strong);
    color: var(--color-ft-light);
    @include box-shadow-s;
    transform: translateY(0);
    transition: all 200ms ease-in;

    cursor: pointer;

    &:hover {
        background-color: var(--color-blue);
        transform: translateY(-1px);
        @include box-shadow;
    }

    &:active {
        background-color: var(--color-blue);
        transform: translateY(1px);
        @include box-shadow-s;
    }
}

.Button:disabled,
.Button.is-disable {
    pointer-events: none;
    cursor: default;
    color: var(--color-ft-weak);
    background-color: var(--color-disabled);
    box-shadow: none;
}