.CategoryBlock {
    overflow: hidden;
    display: block;
    background-color: var(--color-bg-light);
    border-radius: 12px;
    @include box-shadow-l;
    transform: translateY(0);
    transition: all 250ms ease-in;
    cursor: pointer;
}

.CategoryBlock_image {
    height: 40px;
    position: relative;
    background-color: var(--color-bg-weak);

    img {
        @include img-cover;
    }
}

.CategoryBlock_content {
    min-height: 120px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CategoryBlock_title {
    font: var(--ft-title-s);
    font-weight: bold;
    color: var(--color-ft);
    transition: all 250ms ease-in;
}

.CategoryBlock_description {
    font: var(--ft-s);
    color: var(--color-ft-weak);
    margin-top: 5px;
    padding-right: 10px
}

.CategoryBlock_tags {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    text-align: right;
}

/* STATES */

.CategoryBlock.is-selected,
.CategoryBlock:hover {
    transform: translateY(-1px);
    @include box-shadow-xl;
    opacity: 1;

    .CategoryBlock_title {
        color: var(--color-ft-strong);
    }
}

/* MODIFIERS */

.CategoryBlock--selectable {
    opacity: 0.5;
}