.CategoryBlock {
    overflow: hidden;
    display: block;
    background-color: var(--color-bg-light);
    @include box-shadow-l;
    transform: translateY(0);
    transition: all 250ms ease-in;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.CategoryBlock_image {
    height: 160px;
    position: relative;
    background-color: var(--color-bg-weak);

    img {
        @include img-cover;
    }

    &::after {
        content: "";
        display: block;
        @include absolute-fill;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    }
}

.CategoryBlock_check {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
}

.CategoryBlock_content {
    @include absolute-fill;
    height: auto;
    bottom: 0;
    top: auto;
    padding: 20px;
}

.CategoryBlock_title {
    font: var(--ft-title-s);
    font-weight: bold;
    color: var(--color-ft-light);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    transition: all 250ms ease-in;
}

.CategoryBlock_description {
    font: var(--ft-s);
    color: var(--color-ft-light);
    margin-top: 5px;
    padding-right: 10px
}

.CategoryBlock_tags {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    text-align: right;
}

/* STATES */

.CategoryBlock.is-checked,
.CategoryBlock:hover {
    transform: translateY(-2px);
    @include box-shadow-xl;
}

.CategoryBlock.is-selected {
    opacity: 1;
}

/* MODIFIERS */

.CategoryBlock--selectable {
    opacity: 0.5;
}