.ContextInfo {
    position: fixed;
    top: var(--y, -999px);
    left: var(--x, -999px);
    width: var(--width);
    height: 10px;
    z-index: 50;
    transform: translateY(-100%);
}

.ContextInfo_content {
    position: absolute;
    top: 0;
    left: calc(50% - 210px);
    background-color: var(--color-bg-light);
    width: 320px;
    overflow: hidden;
    border-radius: 12px;
    text-align: left;
    
    opacity: 0;
    transform: scale(0.98) translateY(calc(-100% + 10px));
    @include box-shadow-s;
    transition: all 250ms ease;
}

.ContextInfo_cover {
    height: 80px;
    margin-bottom: 15px;
    background-size: cover;
}

.ContextInfo_main {
    padding: 18px;
    display: flex;
    align-items: center;
}

.ContextInfo_profile {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    margin-right: 18px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.ContextInfo_title {
    font: var(--ft-title-m);
    color: var(--color-ft);
    line-height: 1.35;
    margin-bottom: 5px;
    font-weight: bold;
}

.ContextInfo_description {
    font: var(--ft-s);
    line-height: 1.35;
    color: var(--color-ft);
}

.ContextInfo_cta {
    border-top: 1px solid var(--color-border);
    background-color: var(--color-bg-weak);
    text-align: right;
    padding: 10px 15px;
}

/* STATES */

.ContextInfo.is-appear {

    .ContextInfo_content {
        opacity: 1;
        transform: translateY(-100%);
        @include box-shadow-l;
        transition: all 250ms ease;
    }
}