.ContextInfo {
    position: fixed;
    top: var(--y, -999px);
    left: var(--x, -999px);
    width: var(--width);
    height: 10px;
    z-index: 50;
    transform: translateY(-100%);
}

.ContextInfo_content {
    position: absolute;
    top: 0;
    left: calc(50% - 140px);
    background-color: var(--color-bg-light);
    width: 280px;
    overflow: hidden;
    border-radius: 12px;
    text-align: center;
    
    opacity: 0;
    transform: translateY(calc(-100% + 10px));
    @include box-shadow-s;
    transition: all 250ms ease;
}


.ContextInfo_cover {
    height: 80px;
    background-size: cover;
}

.ContextInfo_text {
    padding: 18px;
}

.ContextInfo_title {
    font: var(--ft-title-m);
    color: var(--color-ft-strong);
    line-height: 1.35;
    margin-bottom: 5px;
    font-weight: bold;
}

.ContextInfo_description {
    font: var(--ft-m);
    line-height: 1.35;
    color: var(--color-ft);
}

.ContextInfo_cta {
    padding: 10px 10px;
    color: var(--color-ft-light);
    background-color: var(--color-blue-strong);
    cursor: pointer;
    transition: all 200ms ease;

    &:hover {
        background-color: var(--color-blue);
    }
}

/* STATES */

.ContextInfo.is-appear {

    .ContextInfo_content {
        opacity: 1;
        transform: translateY(-100%);
        @include box-shadow-l;
        transition: all 250ms ease;
    }
}