.CreativeCenter {
    
}

.CreativeCenter_header {
    font: var(--ft-l);
    font-weight: bold;
    padding: 10px 20px;
    background-color: var(--color-bg);
    color: var(--color-ft-strong);
}

.CreativeCenter_tagGroup {
    font-size: 0;
    margin: -3px;
}

.CreativeCenter_tag {
    margin: 3px;
}

.CreativeCenter_filters {
    display: flex;
}

.CreativeCenter_pagination {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}