.CreativeCenter {
    
}

.CreativeCenter_header {
    font: var(--ft-l);
    font-weight: bold;
    padding: 10px 20px;
    background-color: var(--color-bg);
    color: var(--color-ft-strong);
}

.CreativeCenter_pack {
    margin: 0 0 10px 0;
}