.Form {

    .Form_row {
        width: 100%;
    }

    .Form_row + .Form_row {
        margin-top: 5px;
    }

    input,
    textarea {
        display: block;
        font: var(--ft-s);
        border: 1px solid var(--color-border);
        width: 100%;
        outline: none;
    }

    .Input,
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    textarea {
        background-color: var(--color-bg-light);
        padding: 8px 10px;
        border-radius: 4px;
        resize: vertical;
        border: 1px solid var(--color-border);
    }
}

.Form .Input--unstyled,
.Input--unstyled {
    padding: 0;
    border: none;
    background: transparent;
}

.Input--card {
    padding: 12px 10px !important;
    border: 1px solid var(--color-border);
}