:root {
    --height: 110px;
    --height-2: 55px;
}

.HeaderMain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    border-bottom: 1px solid transparent;
    transition: border 150ms ease-out;

    &::before {
        content: "";
        @include absolute-fill;
        transform-origin: top;
        transition: all 200ms ease-out;
        height: 110px;
    }
}

.HeaderMain_container {
    min-height: var(--height);
    position: relative;
}

.HeaderMain_logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 150px;
    font: var(--ft-title-xl);
    color: var(--color-ft);
    font-weight: bold;
    line-height: 1.4;

    transform: translateY(calc(var(--height-2) - 100%));
    transition: all 150ms ease-out;

    &:hover {
        color: var(--color-ft-strong);
    }
}

.HeaderMain_baseline {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;

    font: var(--ft-title-s);
    color: var(--color-ft);

    transform: translateY(calc(var(--height-2)));
    transition: all 150ms ease-out;
}

.HeaderMain_nav {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(var(--height-2) - 50%));
    transition: all 150ms ease-out;
}

.HeaderMain_item {
    font: var(--ft-title-xs);
    color: var(--color-ft);
    margin-right: 30px;
    transition: all 150ms ease-in;

    &:hover {
        color: var(--color-ft-strong);
    }

    &:last-child {
        margin-right: 0;
    }
}

/* STATES */

.HeaderMain.is-scroll {
    --height: 60px;
    --height-2: 30px;
    border-color: var(--color-border);

    .HeaderMain_nav,
    .HeaderMain_logo,
    .HeaderMain_baseline {
        transform: translateY(calc(var(--height-2) - 50%));
        transition: all 150ms ease-in;
        color: var(--color-ft-strong);
    }

    .HeaderMain_baseline {
        opacity: 0;
    }

    &::before {
        background-color: var(--color-bg-light);
        transform: scaleY(0.6);
        transition: all 150ms ease-in;
    }
}