:root {
    --height: 68px;
    --height-2: 34px;
}

.HeaderMain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    border-bottom: 1px solid transparent;
    transition: border 150ms ease-out;

    &::before {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        background-color: var(--color-premium-strong);
    }
    
    &::after {
        content: "";
        @include absolute-fill;
        z-index: 1;
        transform-origin: top;
        transition: all 200ms ease-out;
        height: var(--height);
        background-color: var(--color-bg-light);
    }
}

.HeaderMain_container {
    min-height: var(--height);
    position: relative;
    z-index: 2;
}

.HeaderMain_logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 500px;
    font: var(--ft-title-xl);
    color: var(--color-ft);
    font-weight: bold;
    line-height: 1.4;

    transform: translateY(calc(var(--height-2) - 50%));
    transition: all 150ms ease-out;

    &:hover {
        color: var(--color-ft-strong);
    }

    span {
        font: var(--ft-xs);
        color: var(--color-premium-strong);
        font-weight: bold;
    }
}

.HeaderMain_nav {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(calc(var(--height-2) - 50%));
    transition: all 150ms ease-out;
    display: flex;
    align-items: center;
}

.HeaderMain_item {
    font: var(--ft-s);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-ft);
    margin-right: 30px;
    transition: all 150ms ease-in;

    &:hover {
        color: var(--color-ft-strong);
    }

    &:last-child {
        margin-right: 0;
    }
}

.HeaderMain_premium {
    padding: 10px 20px;
    font: var(--ft-s);
    color: var(--color-premium);
    background-color: var(--color-premium-weak);
    border-radius: 35px;
    background-image: url("../img/background/premium.svg");
    background-position: center;
}

/* STATES */

.HeaderMain:not(.is-premium) {

    &::before {
        display: none;
    }
}

.HeaderMain--fullpage,
.HeaderMain.is-scroll {
    --height: 60px;
    --height-2: 30px;
    border-color: var(--color-border);

    .HeaderMain_nav,
    .HeaderMain_logo,
    .HeaderMain_baseline {
        transition: all 150ms ease-in;
        // color: var(--color-ft-strong);
    }

    .HeaderMain_baseline {
        opacity: 0;
    }

    &::before {
        background-color: var(--color-bg-light);
        transition: all 150ms ease-in;
    }
}

/* MODIFIERS */

.HeaderMain--fullpage {

    .HeaderMain_logo {
        color: var(--color-ft);
    }

    .HeaderMain_wrapper {
        max-width: 9999px;
        width: calc(100% - 40px);
    }
}