.IdeaPack {
    position: relative;
}

.IdeaPack_cover {
    padding: 10px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-color: var(--color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.IdeaPack_coverContainer {
    line-height: 1;
    display: flex;
    align-items: center;
}

.IdeaPack_ideas {
    flex-grow: 1;
}

.IdeaPack_options {
    position: absolute;
    top: 5px;
    right: 10px;
    color: var(--color-ft-light);
    z-index: 5;
}

.IdeaPack_previewLength {
    font-size: 35px;
    font-weight: bold;
}

.IdeaPack_idea {
    margin-top: 5px;
}