.KitBlock {
    display: flex;
    align-items: stretch;
    position: relative;
}

.KitBlock_image {
    width: 200px;
    margin-right: 40px;
    flex-shrink: 0;
    font-size: 0;
    
    img {
        width: 100%;
    }
}

.KitBlock_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.KitBlock_options {
    position: absolute;
    top: 0;
    right: 0;
}


.KitBlock_tags {
    margin: 24px -4px;
}

.KitBlock_tag {
    margin: 4px;
}