.KitBlock {
    display: flex;
    align-items: stretch;
    position: relative;
}

.KitBlock_image {
    width: 230px;
    margin-right: 40px;
    flex-shrink: 0;
    font-size: 0;
    
    img {
        width: 100%;
        -webkit-user-drag: none;
        user-drag: none;
    }
}

.KitBlock_title {
    font: var(--ft-title-xl);
}

.KitBlock_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.KitBlock_options {
    position: absolute;
    top: 0;
    right: 0;
}


.KitBlock_tags {
    margin: 0 -4px;
}

.KitBlock_tag {
    margin: 4px;
}

/* MODIFIERS */

.KitBlock--compact {

    .KitBlock_title {
        font: var(--ft-title-l);
    }

    .KitBlock_image {
        margin-right: 20px;
    }
}