.LinkBase {
    @extend .underline;
    display: inline-block;
    font: var(--ft-s);
    font-weight: 600;
    transition: transform 150ms ease;
    
    cursor: pointer;
    
    &:hover {

        &::after { 
            transform: scaleY(1.25) translate3d(0, -3px, -1px);
        }
    }
}

.LinkBase--simple {
    text-decoration: underline;

    &::after {
        display: none;
    }
}

.LinkBase--s {
    font: var(--ft-xs);
}

.LinkBase--xs {
    font: var(--ft-2xs);
}