.LinkBase {
    @extend .underline;
    display: inline-block;
    font-weight: bold;
    transition: transform 150ms ease;
    color: var(--color-ft-strong);
    cursor: pointer;
    
    &:hover {

        &::after { 
            transform: scaleY(1.25) translate3d(0, -5px, -1px);
        }
    }
}