.NavBar {
    background-color: var(--color-bg-light);
    display: flex;
}

.NavBar_item {
    height: 55px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--color-border);
    cursor: pointer;
    position: relative;
    transition: all 150ms ease;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-blue);
        transition: all 150ms ease;
        transform: scaleX(0);
    }
}

.NavBar_fa + .NavBar_label,
.NavBar_color + .NavBar_label,
.NavBar_count + .NavBar_label {
    margin-left: 10px;
}

.NavBar_color {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-border);
    border-radius: 50%;
}

.NavBar_count {
    font: var(--ft-2xs);
    font-weight: bold;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
}

.NavBar_item:hover,
.NavBar_item.is-active {
    color: var(--color-ft-strong);
    background-color: var(--color-bg);

    .NavBar_count {
        background-color: var(--color-bg-light);
    }

    &::after {
        transform: scale(1);
    }
}

.NavBar--vertical {
    flex-direction: column;
}

.NavBar--l {

    .NavBar_item {
        width: 80px;
        height: 80px;
        border: none;
        border-bottom: 1px solid var(--color-border);
    }
}

.NavBar--s {

    .NavBar_item {
        height: 50px;
        font: var(--ft-s);
        border: none;
        border-bottom: 1px solid var(--color-border);
    }
}

.NavBar--selector {

    .NavBar_item {
        border: 1px solid var(--color-border);
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        &::after {
            display: none;
        }

        &:hover, &.is-active {
            border-color: var(--color-blue);
        }
    }

    &.NavBar--vertical {

        .NavBar_item {
            margin: 0;
        }
    }
}

.NavBar--secondary {

    .NavBar_count {
        background-color: var(--color-bg-weak);
    }

    .NavBar_item:hover,
    .NavBar_item.is-active {
        color: var(--color-ft);
        background-color: var(--color-bg-weak);
    }
}