.Page {
    position: relative;
    min-height: 105vh;
    background-color: var(--color-bg-xweak);

    &::before {
        content: "";
        @include absolute-fill;
        height: 75vh;
        background-color: var(--color-bg-light);
    }
}

.Page_content {
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.Page--full {
    min-height: auto;
}