.Page {
    min-height: 105vh;
    background-color: var(--color-bg-light); 
}

.Page_content {
    padding-top: 68px;
    padding-bottom: calc(68px + var(--bottom-bar, 0px));
}

.Page--full {
    min-height: auto;

    .Page_content {
        padding-top: 60px;
        padding-bottom: 0;
    }
}