.PopinGeneric {
    position: fixed;
    z-index: 100;
    max-width: 1000px;
    width: 90%;
    max-height: 90vh;
    top: -9999px;
    left: -9999px;
    right: 0;
    margin: 0 auto;
    border-radius: 6px;
    background-color: var(--color-bg-light);
    box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.5);
    transform: translateY(calc(-50% + 10px));
    display: flex;
    flex-direction: column;
    opacity: 0;

    transition: opacity 250ms ease, transform 250ms ease;
}

.PopinGeneric_content {
    overflow-y: auto;
}

.PopinGeneric_footer {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-top: 1px solid var(--color-border);
}

.PopinGeneric_header {
    border-bottom: 1px solid var(--color-border);
}

/* STATES */

.PopinGeneric.is-active {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    left: 0;
}

/* MODIFIERS */

.PopinGeneric--top {
    top: 10vh;
    transform: none;
}

.PopinGeneric--xs {
    width: 500px;
}

.PopinGeneric--overflow {

    .PopinGeneric_content {
        overflow: visible;
    }
}

.PopinGeneric--confirm {
    width: 300px;
    text-align: center;

    &.active {
        display: inline-flex;
    }

    .PopinGeneric_footer {
        justify-content: space-around;
    }
}