.PopinProject_generator {
    position: absolute;
    left: -9999px;
    top: -9999px;
    pointer-events: none;
}

.PopinProject_editMode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--color-cyan-weak);
}