.PopinGeneric {
    position: fixed;
    top: -9999px;
    left: -9999px;
    width: 100%;
    height: 100%;
    z-index: 400;
    
    &::before {
        content: "";
        position: fixed;
        z-index: 399;
        @include absolute-fill;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.PopinGeneric_container {
    position: absolute;
    z-index: 400;
    max-width: 1000px;
    width: 90%;
    max-height: 90vh;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(calc(-50% + 10px));
    opacity: 0;
    transition: all 250ms ease;
}

.PopinGeneric_body {
    position: relative;
    z-index: 2;
    border-radius: 6px;
    background-color: var(--color-bg-light);
    display: flex;
    flex-direction: column;
}

.PopinGeneric_content {
    overflow-y: auto;
}

.PopinGeneric_footer {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-top: 1px solid var(--color-border);
}

.PopinGeneric_header {
    border-bottom: 1px solid var(--color-border);
}

.PopinGeneric_close {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: -10px;
    transform: translateX(100%);
    position: absolute;
    color: var(--color-ft-light);
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

/* STATES */

.PopinGeneric.is-active {
    left: 0;
    top: 0;

    .PopinGeneric_container {
        transform: translateY(-50%);
        opacity: 1;
    }
}

/* MODIFIERS */

.PopinGeneric--top {

}

.PopinGeneric--s {

    .PopinGeneric_container {
        width: 700px;
    }
}

.PopinGeneric--xs {
    
    .PopinGeneric_container {
        width: 500px;
    }
}

.PopinGeneric--overflow {

    .PopinGeneric_content {
        overflow: visible;
    }
}

.PopinGeneric--confirm {

    .PopinGeneric_container {
        width: 300px;
        text-align: center;
    }

    &.active {
        display: inline-flex;
    }

    .PopinGeneric_footer {
        justify-content: space-around;
    }
}