.RangeSlider_input {
    width: 100% !important;
    padding: 0 !important;
    
    .range-slider-fill {
        background-color: var(--color-blue);
    }

    .range-slider-rail {
        background-color: var(--color-blue-xweak);
    }
}

.RangeSlider_label {
    margin-bottom: 5px;
}