.Tag {
    display: inline-block;
    font: var(--ft-s);
    color: var(--color-ft);
    text-align: center;
    min-width: 80px;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: var(--color-bg-light);
}

/* MODIFIERS */

.Tag--s {
    font: var(--ft-xs);
    min-width: 0;
    padding: 4px 9px;
}

.Tag--outline {
    background-color: transparent;
    border: 1px solid var(--color-border);
}