.TextEditor {
    // border: 1px solid var(--color-border);
}

.TextEditor_content {
    // background-color: var(--color-bg-light);

    // & > div {
    //     padding: 60px;
    //     min-height: 500px;
    //     outline: none;
    // }
}

.TextEditor_menu {
    position: sticky;
    z-index: 5;
    top: var(--height-scrolled);
}

.TextEditor_first,
.TextEditor_second {
    background-color: var(--color-grey-2xweak);
    display: flex;
    align-items: center;
    padding: 2px 10px;
}

.TextEditor_second {
    background-color: var(--color-bg-light);
    border-bottom: 1px solid var(--color-border);
    padding: 0;
}

.TextEditor_group {
    display: flex;
    align-items: center;
}

.TextEditor_button {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 1px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.5;
    transition: all 150ms ease;
    
    &.is-active {
        background-color: var(--color-cyan-weak);
        color: var(--color-cyan-strong);
        opacity: 1;
    }

    &:hover {
        background-color: var(--color-bg-light);
        opacity: 1;
    }
}

.TextEditor_separator {
    width: 1px;
    height: 20px;
    margin: 0 10px;
    background-color: var(--color-border);
}

/* MODIFIERS */

.TextEditor--compact {

    .TextEditor_content {
        
        & > div {
            padding: 20px;
            min-height: 0;
        }
    }
}