.ArticlePage_header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    background-color: var(--color-bg);
}

.ArticlePage_cover {
    position: relative;
    width: 45vw;
    min-height: 400px;
    overflow: hidden;

    img {
        @include img-cover;
        width: 105%;
        height: 105%;
        left: -2.5%;
        top: -2.5%;
        animation: 30s ease-in-out 1s infinite alternate movement;
    }

    &::before {
        content: "";
        display: block;
        padding-bottom: 65%;
    }
}

@keyframes movement {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(-1%, 1%, 0) scale(0.98);
    }
    50% {
        transform: translate3d(1%, -1%, 0);
    }
    75% {
        transform: translate3d(0, 1%, 0) scale(0.98);
    }
    100% {
        transform: translate3d(-1%, 1%, 0);
    }
}

.ArticlePage_titles {
    padding: 0 60px;
    flex-grow: 1;
}

.ArticlePage_titlesContainer {
    max-width: 720px;
}

.ArticlePage_body {
    max-width: 720px;
    margin: 0 auto;
}

.ArticlePage_excerpt {
    font: var(--ft-l);
    color: var(--color-ft);
    font-style: italic;
}

.ArticlePage_title {
    font: var(--ft-title-3xl);
    font-weight: bold;
    color: var(--color-ft-xstrong);
}