.ArticlePage_header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    background-color: var(--color-bg);
}

.ArticlePage_cover {
    position: relative;
    width: 40vw;
    min-height: 400px;

    img {
        @include img-cover;
    }

    &::before {
        content: "";
        display: block;
        padding-bottom: 65%;
    }
}

.ArticlePage_titles {
    padding: 0 60px;
    flex-grow: 1;
}

.ArticlePage_titlesContainer {
    max-width: 720px;
}

.ArticlePage_body {
    max-width: 720px;
    margin: 0 auto;
}

.ArticlePage_excerpt {
    font: var(--ft-l);
    color: var(--color-ft);
    font-style: italic;
}

.ArticlePage_title {
    font: var(--ft-title-3xl);
    font-weight: bold;
    color: var(--color-ft-strong);
}