.HomePage_popular {
    padding: 0;
}

.HomePage_popularArticle {
    border-bottom: 1px solid var(--color-border);
    margin: 10px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        border: none;
        margin-bottom: 0;
    }
}