/* SIMPLE APPEAR */

.appear-simple-enter-active,
.appear-simple-leave-active {
    transition: all 150ms ease;
}


.appear-simple-enter-to {
    opacity: 1;
    transform: translateX(0);
}

.appear-simple-leave-to {
    opacity: 0;
    transform: translateX(10px);
}

.appear-simple-enter {
    opacity: 0;
    transform: translateX(-20px);
}

.appear-simple-leave-active {
    position: absolute;
}


.appear-simple-move {
    transition: all 250ms ease-out;
}