@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap');

body {
    font: var(--ft-m);
    color: var(--color-ft);
}

b b {
    font-weight: 800;
}

.Main {
    overflow: hidden;
}