$breakpoints: (
    "": 99999px,
    "m": 1200px,
    "s": 900px,
    "xs": 600px
);

$block-widths: (
    "s": 750,
    "m": 1000
);

$spacings: (
    "none": 0,
    "2xs": 5,
    "xs": 10,
    "s": 20,
    "m": 40,
    "l": 60,
    "xl": 100,
    "2xl": 150
);

$gutters: (
    "l": 15,
    "m": 20,
    "s": 10,
    "xs": 5
);

$colors: (
    "ft": #000000,
    "ft-weak": #5abbff,
    "ft-strong": #2e46ef,
    "ft-light": #ffffff,

    "bg-light": #ffffff,
    "bg-weak": #deebff,
    "bg-xweak": #f8f9ff,

    "border": #dce7f3,
    "border-strong": #bdbdbd,

    "blue": #2e46ef,
    "blue-strong": #20e0ff,

    "highlight": #5df0ff,

    "disabled": #d3d4dc
);

$fonts: (
    "ft": (
        "name": "'Roboto', sans-serif",
        "sizes": (
            "2xs": "10px/1.5",
            "xs": "13px/1.4",
            "s": "14px/1.4",
            "m": "16px/1.6",
            "l": "19px/1.7",
            "xl": "24px/1.4",
            "2xl": "32px/1.5"
        )
    ),
    "ft-title": (
        "name": "'Merriweather', serif",
        "sizes": (
            "xs": "12px/1.4",
            "s": "17px/1.5",
            "m": "18px/1.6",
            "l": "18px/1.6",
            "xl": "22px/1.8",
            "2xl": "30px/1.4",
            "3xl": "42px/1.5"
        )
    )
);