$breakpoints: (
    "": 99999px,
    "m": 1200px,
    "s": 900px,
    "xs": 600px
);

$block-widths: (
    "article-block": 380,
    "xs": 450,
    "s": 720,
    "m": 1000
);

$spacings: (
    "none": 0,
    "2xs": 5,
    "xs": 10,
    "s": 20,
    "m": 40,
    "l": 60,
    "xl": 100,
    "2xl": 150
);

$gutters: (
    "l": 30,
    "m": 20,
    "s": 10,
    "xs": 5,
    "none": 0
);

$colors: (
    "ft": #000000,
    "ft-weak": #848484,
    "ft-xweak": #cdd3da,
    "ft-strong": #2e46ef,
    "ft-light": #ffffff,

    "bg": #e8e4ff,
    "bg-light": #ffffff,
    "bg-weak": #deebff,
    "bg-xweak": #f8f9ff,

    "border": #cdd3da,
    "border-strong": #bdbdbd,

    "blue": #2e46ef,
    "blue-strong": #3a13d8,

    "highlight": #fbff00,

    "disabled": #d3d4dc,

    "error": #FF2D42,
    "error-strong": #B90D40,

    "confirm": #10c773,
    "confirm-strong": #1ca04c,

    "premium": #ff9900,
    "premium-strong": #ff5e00,
    "premium-weak": #fff6e4
);

$fonts: (
    "ft": (
        "name": "'Roboto', sans-serif",
        "sizes": (
            "2xs": "10px/1.5",
            "xs": "13px/1.4",
            "s": "14px/1.4",
            "m": "16px/1.6",
            "l": "19px/1.7",
            "xl": "24px/1.4",
            "2xl": "32px/1.5",
            "3xl": "40px/1.5"
        )
    ),
    "ft-title": (
        "name": "'Merriweather', serif",
        "sizes": (
            "xs": "15px/1.4",
            "s": "16px/1.5",
            "m": "18px/1.6",
            "l": "18px/1.6",
            "xl": "22px/1.8",
            "2xl": "30px/1.4",
            "3xl": "42px/1.35",
            "4xl": "56px/1.35"
        )
    )
);