.ArticleBlock--actions {

    .ArticleBlock_actions {
        padding: 10px 20px;
        background-color: var(--color-bg-weak);
        display: flex;
        width: 100%;
        justify-content: space-around;
        font: var(--ft-xs);

        & > * {
            text-align: center;

            &:hover {
                background-color: var(--color-bg);
            }
        }
    }

    &:hover {
        transform: none;
        box-shadow: 0 3px 10px 0 rgba(17, 91, 239, 0.2);
    }
}
