.TextEditor {
    border: 1px solid var(--color-border);
}

.TextEditor_content {
    background-color: var(--color-bg-light);

    & > div {
        padding: 60px;
        min-height: 500px;
        outline: none;
    }
}

.TextEditor_menu {
    position: sticky;
    z-index: 5;
    top: var(--height-scrolled);
}

.TextEditor_first,
.TextEditor_second {
    background-color: var(--color-bg-weak);
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.TextEditor_second {
    background-color: var(--color-bg-light);
    border-bottom: 1px solid var(--color-border);
    padding: 0;
}

.TextEditor_button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: var(--color-bg-light);
    }
}

.TextEditor_separator {
    width: 1px;
    height: 20px;
    margin: 0 10px;
    background-color: var(--color-border);
}

/* MODIFIERS */

.TextEditor--compact {

    .TextEditor_content {
        
        & > div {
            padding: 20px;
            min-height: 0;
        }
    }
}