.ChoiceButtons {
    font-size: 0;
}

.ChoiceButtons_option {
    font: var(--ft-m);
    color: var(--color-ft-weak);
    height: 45px;
    display: inline-flex;
    align-items: center;
    padding: 5px 15px;
    border: 1px solid var(--color-border);
    cursor: pointer;
    transition: all 150ms ease;
    position: relative;
    margin: -1px 0 0 -1px;
}

.ChoiceButtons_custom {
    font: var(--ft-m);
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.ChoiceButtons_premium {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 12px;
}

.ChoiceButtons_content {
    transform: scale(0.95);
    color: var(--color-ft-weak);
    transition: all 150ms ease;
}

.ChoiceButtons_customInput {
    width: 75px;
    font: var(--ft-s);
    padding: 5px 5px 5px 8px;
}

.ChoiceButtons_option {

    &.is-premium {
        background-color: var(--color-weak);

        .ChoiceButtons_content {
            color: var(--color-premium);
        }
    }
}

.ChoiceButtons_option:not(.ChoiceButtons_option--custom):hover,
.ChoiceButtons_option.is-selected {
    background-color: var(--color-bg);
    
    .ChoiceButtons_content {
        color: var(--color-ft-strong);
        transform: scale(1);
    }

    &.is-premium {
        background-color: var(--color-premium-weak);

        .ChoiceButtons_content {
            color: var(--color-premium-strong);
        }
    }
}