.ColorPicker {
    font-size: 0;
    margin: -3px;
}

.ColorPicker_option {
    display: inline-flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    border-left: none;
    cursor: pointer;
    position: relative;
    background: var(--background, linear-gradient(45deg, rgba(253,29,90,1) 0%, rgba(253,229,38,1) 33%, rgba(78,251,255,1) 66%, rgba(69,76,252,1) 100%));
    margin: 3px;

    &::after {
        content: "✔️";
        font-size: 15px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate3d(-50%, -50%, 0) scale(0.8);
        transition: all 150ms ease;
    }

    &:first-child {
        border: 1px solid var(--color-border);
    }
}

.ColorPicker_premium {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 12px;
}

.ColorPicker_option:hover,
.ColorPicker_option.is-selected {
    
    &::after {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0) scale(1);
    }
}

.ColorPicker_custom {

    &.is-active .a-color-picker {
        display: block;
    }
}

.a-color-picker {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 5;
    display: none;
}

.ColorPicker_range {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font: var(--ft-s);
    font-weight: bold;
    
    input {
        flex-grow: 1;
        margin: 0 20px;
    }
}

.ColorPicker_pattern {
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-border);
    position: relative;
    background: var(--background);
    cursor: pointer;

    &.is-active .a-color-picker {
        display: block;
    }
    
    &::after {
        display: none;
    }
}

.ColorPicker_option--pattern {
    background: var(--background, white);
}

.ColorPicker_option.is-premium {
    border: 1px solid var(--color-premium);
}

.ColorPicker_option--pattern.is-premium {
    background-color: var(--color-premium-weak);
}