.ColorPicker {
    font-size: 0;
}

.ColorPicker_option {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-border);
    border-left: none;
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        @include absolute-fill;
        opacity: 0.5;
        background: var(--background);
        background-size: cover;
    }

    &:first-child {
        border: 1px solid var(--color-border);
    }
}

.ColorPicker_option:hover,
.ColorPicker_option.is-selected {
    
    &::after {
        opacity: 1;
    }
}

.ColorPicker_custom {

    &.is-active .a-color-picker {
        display: block;
    }
}

.a-color-picker {
    position: absolute;
    left: 60px;
    z-index: 5;
    display: none;
}