.Previewer {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #dadada 25%, transparent 25%),
    linear-gradient(-45deg, #dadada 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #dadada 75%),
    linear-gradient(-45deg, transparent 75%, #dadada 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.Previewer_component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}